.home h1 {
    margin-bottom: 30px;
}

.home>.home-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.home .home-menu button {
    padding: 5px 10px;
}

.home .home-menu button:not(:last-child) {
    margin-bottom: 10px;
}

.home .host-menu,
.home .renter-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 25px 10px;
    width: 200px;
}

.home .host-menu {
    margin-right: 50px;
}

.home .host-menu h3,
.home .renter-menu h3 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    width: 75%;
}