/* Add Listing Page */
.addlisting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.addlisting-container>.addlisting-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid 1px #aaaaaa;
    padding: 20px;
    width: 400px;
}

.addlisting-container>.addlisting-form>p {
    margin-bottom: 5px;
}

.addlisting-container>.addlisting-form>select {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}

.addlisting-container>.addlisting-form>input {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    overflow-x:visible;
}

.addlisting-container>.addlisting-form>.addlisting-amenity {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.addlisting-container>.addlisting-form>.addlisting-amenity .addlisting-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addlisting-container .addlisting-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.addlisting-container .addlisting-button>button {
    margin-top: 10px;
    padding: 5px 10px;
}

/* Search Page */
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search-container>.search-bar {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px 15px;
    width: 700px;
}

.search-container>.search-filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.search-container>.search-filters>.filter-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-container>.search-filters>.filter-list>p {
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: aquamarine;
    font-weight: bold;
}

.search-container>.search-filters>.filter-list>input {
    padding: 3px 8px;
}

.search-container>.search-filters>.filter-list>input:not(:last-child) {
    margin-right: 10px;
}

.search-container>.search-filters>.filter-list>div:not(:last-child) {
    margin-right: 10px;
}

.search-container>.search-listings {
    margin-top: 20px;
    width: 700px;
    height: 80%;
    
}

.search-container>.search-listings>.search-body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.search-container>.search-listings .search-listing-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}