/* Add Listing Page */
.addlisting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.addlisting-container>.addlisting-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: solid 1px #aaaaaa;
    padding: 20px;
    width: 400px;
}

.addlisting-container>.addlisting-form>p {
    margin-bottom: 5px;
}

.addlisting-container>.addlisting-form>select {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}

.addlisting-container>.addlisting-form>input {
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    overflow-x:visible;
}

.addlisting-container>.addlisting-form>.addlisting-amenity {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.addlisting-container>.addlisting-form>.addlisting-amenity .addlisting-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addlisting-container .addlisting-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.addlisting-container .addlisting-button>button {
    margin-top: 10px;
    padding: 5px 10px;
}

/* Search Page */
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search>.search-bar {
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px 15px;
    width: 1000px;
}

.search>.search-filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.search>.search-filters>.filter-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search>.search-filters>.filter-list>.filter-category {
    margin-right: 20px;
    border-radius: 5px;
    padding: 5px 15px;
    width: 140px;
    background-color: aquamarine;
    font-weight: bold;
}

.search>.search-filters>.filter-list>.filter-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search>.search-filters>.filter-list>.filter-checkbox>.filter-check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
}

.search>.search-filters>.filter-list>select {
    padding: 3px 8px;
}

.search>.search-filters>.filter-list>input {
    padding: 3px 8px;
}

.search>.search-filters>.filter-list>input:not(:last-child) {
    margin-right: 10px;
}

.search>.search-filters>.filter-list>div:not(:last-child) {
    margin-right: 10px;
}

.search>.filter-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search>.filter-button button {
    margin-top: 10px;
    padding: 5px 10px;
}

.search>.search-listings {
    margin-top: 30px;
    width: 1000px;
    height: 80%;
}

.search>.search-listings>.search-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0px 20px;
    background-color: #eee;
    width: 100%;
    height: 40px;
    font-weight: bold;
}

.search>.search-listings>.search-body {
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.search>.search-listings>.search-body button {
    padding: 3px 13px;
}

.search>.search-listings .search-listing-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search .table.small {
    width: 150px;
}

.search .table.medium {
    width: 300px;
}

.search .table.large {
    width: 500px;
}

/* MyListing Page */
.mylisting {

}